/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 18, 2024, 3:44:04 PM
    Author     : tranl
*/



/* login */
.navbar-item .navbar-dropdown {
    right: 0;
    left: initial
}

button {
    background: initial;
    border: initial;
    color: initial;
    cursor: pointer;
}

.navbar-dropdown .navbar-item:hover {
    background-color: #000;
    color: #fff;
}

.navbar-dropdown .navbar-item button:hover {
    background-color: #000;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .navbar-dropdown a.navbar-item {
        padding-right: 16px !important;
        color: #fff;
    }
}

.navbar-dropdown {
    background-color: #000;
    border: 2px solid #D9AB73;
    margin-top: 5px;
}

.fake-div {
    height: 10px;
    width: 10px;
    background-color: transparent;
    font-size: .875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;
}

.navbar-dropdown .navbar-item span {
    color: #fff;
}

.navbar-dropdown .navbar-item span:hover {
    color: #D9AB73 !important;
}

.navbar-item .navbar-link:focus {
    background-color: #000;
    color: #D9AB73;
}

.navbar-dropdown a.navbar-item:hover {
    background-color: initial;
    color: #D9AB73 !important;
}

.navbar-dropdown a.navbar-item:focus {
    background-color: #000 !important;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #D9AB73;
    ;
    /* Default border color */
}

/* Styles when .navbar-link is focused */
.navbar-item .navbar-link:focus {
    background-color: #000;
    color: #fff;
}


.navbar-divider {
    background-color: #323232;
}

.navbar-link:not(.is-arrowless) {
    padding-right: 2.5em;
    max-height: 36px;
}



/*                                                           login                                                      */
.background-login {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
    max-height: calc(100vh - 125px);
    min-height: calc(100vh - 125px);
    margin: 0;
    padding: 0;
}

.login-container {
    position: fixed;
    top: 13%;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    display: block;
    align-items: center;
    justify-content: center;
}

.login-modal-container {
    position: relative;
    width: 435px;
    margin: auto;
    border-radius: 57px;
    border: 3px solid #D9AB73;
    background: rgba(0, 0, 0, 0.70);
    flex-shrink: 0;
    min-height: 200px;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.5s;

}

.login-modal-container header .navbar-item:hover {
    color: #D9AB73;
    background-color: initial;
}

.header-login {
    text-align: center;
    color: #D9AB73;
    font-family: Inter;
}

.header-login a {
    display: inline-block;
}

.header-login img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.register-if-dont-have-container {
    display: flex;
}

.container login {
    text-align: center;
    /* Căn giữa nội dung trong container */
}

.register-if-dont-have-container,
.register-here {
    display: inline-block;
}

.registration-form {
    display: inline-block;
}

.submit-login-btn:hover {
    color: #fff !important;
    /*border-color: rgba(0, 0, 0, 0.70) !important;*/
}

.sign-up-in-login {
    padding: 0;
    height: unset;
    background-color: transparent !important;
    color: #fff !important;
    line-height: 20px;
}

.sign-up-in-login:hover {
    text-decoration: underline;
}

.input-username {
    width: 70%;
    background-color: transparent;
    color: #fff;
    border-bottom: #D9AB73 3px solid;
    margin-top: 16px;
}

.form-login-container {}

.input-username::placeholder {
    color: #fff;
}

.input-username:focus,
.input-username:hover,
.input-username:active {
    border-color: #000;
    border-bottom: #D9AB73 3px solid;
    box-shadow: initial;
}

.input-password {
    width: 70%;
    color: #fff;
    background-color: transparent;
    border-bottom: #D9AB73 3px solid;
    margin-top: 16px;
}

.input-password:focus,
.input-password:hover,
.input-password:active {
    border-color: #000;
    border-bottom: #D9AB73 3px solid;
    box-shadow: initial;
}

.input-password::placeholder {
    color: #fff;
}

.forgot-password:hover {
    text-decoration: underline;
}

.forgot-password {
    display: block;
    left: 15%;
    padding: 5px 0 0 0;
    height: unset;
    background-color: transparent !important;
    color: #fff !important;
    line-height: 20px;
}

.submit-with-gg-btn {
    color: #fff !important;
}

.submit-with-gg-btn:hover {
    color: #333 !important;
}

.usernamepassnull {
    color: red;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

/*.img-logo-login {
    max-width: 50px;
}*/


.column-home-real {
    padding: 2.75em;
    text-align: center;
}

.text-home-container {
    background-color: #000;
    color: #D9AB73
}

.text-home-1 {
    color: white;
    font-size: 22px;
    font-family: Inter;
    font-weight: 800;
    word-wrap: break-word
}

.text-home-2 {
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 800;
    word-wrap: break-word
}

.text-home-3 {
    color: #D9AB73;
    font-size: 22px;
    font-family: Inter;
    font-weight: 800;
    word-wrap: break-word
}

.button-detail:hover {
    color: #1b0ad5 !important;
    border-color: #1e1d1d !important;
}

.title {
    color: #fffbfb;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.125;
}

/* .css-1y942vo-MuiButtonBase-root-MuiButton-root {
    color: #3e3e65 !important;
    background-color: unset !important;
    font-weight: 700 !important;
    font-size: 16px !important;
} */

button {
    font-weight: bold;
}

.img-logo {
    width: 100px;
    border-radius: unset;
}

/* .css-1y942vo-MuiButtonBase-root-MuiButton-root:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.04);
    color: #10aad6 !important;
} */

.w3-content {
    max-width: unset !important;
}

.slide-img {
    height: 500px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    /* height: 100%;
    width: 100%; 
    object-fit: cover;  */
}

.mySlides {
    display: none;
    transition: opacity 0.5s ease-in-out;
    /* Add transition property */
}

.mySlides.active {
    display: block;
    opacity: 1;
}

.w3-display-bottommiddle {
    bottom: 40px;
}

.text-slideshow {
    color: #fff;
    background: rgba(0, 0, 0, 0.33);
    font-weight: bold;
    font-size: 20px !important;
}

@keyframes slideEffect {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

.mySlides {
    display: none;
    animation: slideEffect 1s;
}

/* Hiển thị slide hiện tại */
.mySlides.active {
    display: block;
    opacity: 1;
}

.w3-display-container {
    position: relative;
}

/* Position the slide wrappers */
.slides-wrapper {
    width: 100%;
    height: 100%;
  }
  
  /* Apply animation to slides */
  .mySlides {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease; /* Add transition for smooth opacity change */
  }

/* Show active slide */
.mySlides.active {
  opacity: 1;
}

/* Define animation for the current slide */
.mySlides.active {
  animation: slideEffect 1s forwards;
}

/* Define animation for the previous slide */
.mySlides.active.previous-slide {
  animation: slideOutEffect 1s forwards;
}

/* Define animation */
@keyframes slideEffect {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutEffect {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@media (min-width: 600px) {
    .css-r6ewbb-MuiToolbar-root {
        min-height: 48px !important;
    }
}

.header-title {
    text-align: center;
    font-size: 20px;
    color: #3e3e65;;
    text-decoration: underline #10aad6;
    text-transform: uppercase;
    font-weight: bold;
    padding: 35px 0;
}

.header-title-2 {
    text-align: center;
    font-size: 20px;
    color: #3e3e65;;
    text-decoration: underline #10aad6;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
}

.title-contact {
    text-align: left !important;
    line-height: 25px;
    font-size: 18px;
    color: #000000;
    font-family: 'futura-REGULAR', sans-serif !important;
    /* text-decoration: underline #10aad6;
    text-transform: uppercase; */
    font-weight: 700;
    padding: 10px 0;
}

.img-detail-brand {
    width: 100%;
    object-fit: cover;
    max-height: 400px !important;
    height: 400px;
    border-radius: 8%;
}

@media (min-width: 600px) {
    .css-1kqfcui-MuiToolbar-root {
        min-height: 45px !important;
    }
}

/* .css-mhc70k-MuiGrid-root {
    padding: 0 260px;
} */

/* @media (min-width: 1000px) {
    .css-hyum1k-MuiToolbar-root {
      justify-content: center;
    }
  } */
  